.header-body{
    height: 115px;
    background-color: #BCEAD5;
}

.logo{
    font-size: 50px;
    font-weight: bolder;
    background-image: linear-gradient(to right,black,white,black,white,black, white);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}
